header {
    background-color: rgb(255, 241, 226);
}


.titulo {
    background-color: #819FF7;
    text-align: center;
    color: #243b81;
}

.subtitulo {
    background-color: #819FF7;
    color:#243b81;
}

footer {
    background-color: #425aa0;
    color: white;
    text-align: center;
    
}

body {
    background-color: rgb(246, 251, 255);
}

.lista {
    list-style: none;
}

.datos {
    list-style: disc;
    font-style: italic;
}