header {
    background-color: rgb(255, 241, 226);
}


header {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    text-align: center;
    color: #ebf0ff;
    height: 230px;
}

.subtitulo {
    background-color: #819FF7;
    color:#243b81;
    margin-left: 170px;
    padding: 4px;
    width: 900px;
}

footer {
    background-color: #425aa0;
    color: white;
    text-align: center;
    
}

body {
    background-color: rgb(246, 251, 255);
    font-family: 'Signika', sans-serif;
}

.lista {
    list-style: none;
    margin-left: 160px;
}


.datos {
    list-style: disc;
    font-style: italic;
    margin-left: 160px;
}

span {
    font-weight: bold;
}

#foto {
    margin-top: 20px;
    width: 150px;
}

#nav {
    font-weight: bold;
    
}

.fa-github {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-right: 10px;
    padding-bottom: 7px;
}

.fa-linkedin {
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-bottom: 7px;
}

.sobre-mi {
    margin-left: 180px;
}