* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
#descuentos {
    background-color: #1CD1B0;
    padding:10px;
    font-weight: bold;
}

header {
    position:sticky;
    top: 0px;
    z-index: 10;
}

h1 {
    background-color: #00669F;
    padding:30px;
}

section {
    text-align: center;
    margin: 20px;
}

.tarjeta {
    background-color: #F3F3F3;
    display: inline-block;
    width:300px;
    text-align: center;
    height:540px;
    position: relative;
    top:40%;
    column-gap:5px;
    
}

.foto {
    border-radius: 100px;
    position: absolute;
    top: 130px;
    right: 90px;
}

.descripcion {
    text-align: left;
    position: absolute;
    bottom:80px;
    line-height: 140%;
    padding-right: 15px;
    padding-left: 15px;
    
}

h2 {
    position: relative;
    top:50px;
    text-align: center;
}

.boton {
    background-color: #00669F;
    width: fit-content;
    padding:10px 30px;
    bottom:15px;
    position: absolute;
    left: 90px;
}

footer {
    color:white;
    background-color: #00669F;
    padding: 20px;
    text-align: center;
}