* {
    margin:0px;
}

/*HEADER MENU STARTS HERE ------ */
body {
    font-family: 'Roboto', sans-serif;
}

#idioma {
    background-color: #222222;
    display:flex;
    justify-content: space-between;
}

#idioma p {
    color:white;
}

#menu {
    background-color: #F0A83E;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    margin:0px;
}

#menu li {
    display: inline;
    color:white;
    margin-left: 20px;
    
}

.fa-paw {
    color:white;
}

/*BANNER STARTS HERE ------ */

#banner {
    background-image: url(../img/portada\ header.png);
    height: 400px;
    background-size:cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}

#texto { 
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height:100px;
    
}
#texto h2 {
    background-color: white;
    width:fit-content;
    padding: 7px;
    border-radius: 3px;
}

#texto p {
    background-color: #F0A83E;

}

/*MAIN STARTS HERE ------ */

#destacados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

#destacados img {
    height: 71px;
    width: 67px;
}

#destacados nav ul li {
    display: inline;
    color: #222222;
    margin-left: 15px;
}



/*CATALOGO STARTS HERE ------ */

#catalogo {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#catalogo div {
    text-align: center;
    margin-left: 10%;
    background-color: #FBFAF6;
    width: fit-content;
    padding-bottom: 1px;
    font-weight: bold;
    color: #3C2313;
}

.precio {
    color:#F0A83E;
}

/*CONTACTO STARTS HERE ------ */

#contactanos  {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contactanos h2 {
    margin-bottom: 10px;
}
input, ::placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3C2313;
    border:none;
    border-radius: 20px;
    color:#FBFAF6;
    width:350px;
    padding:15px;
    text-align: left;
}

#reset {
    background: #8A8787;
    border:0px;
    border-radius: 15px;
    color:#FBFAF6;
    padding: 5px 20px;
    font-size: 18px;
}

#enviar {
    background: #F0A83E;
    border:0px;
    border-radius: 15px;
    color:#FBFAF6;
    padding: 5px 25px;
    font-size: 18px;
}

/*SUBSCRIBIRSE STARTS HERE ------ */

#sub{
    background-color: #F0A83E;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    margin:0px;
}

/*FOOTER STARTS HERE ------ */

footer section {
    background-color: #3C2313;
    color:#8A8787;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    height:23px;
    width: 166.38px;
}

#footer_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
footer h3 {
    color: white;
}

.fa-envelope {
    color:white;
    font-size: 40px;
}

.fa-map-marker-alt {
    color:white;
    font-size: 40px;
}
.fa-phone-alt {
    color:white;
    font-size: 40px;
}

#derechos {
    background-color: #222222;
    color:#FBFAF6;
    text-align: center;
}